<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    {{- .Scratch.Set "canBeIndexed" (or (or (eq .BundleType "branch") (hasPrefix .Type "_")) (or (eq .Kind "term") (eq .Kind "taxonomy"))) }}
    <body{{- if (.Scratch.Get "canBeIndexed") }} data-pagefind-ignore{{- end }}>
        {{- partial "header.html" . -}}
        <main {{- if not (.Scratch.Get "canBeIndexed") }} data-pagefind-body data-pagefind-meta="date:{{- .Date.Format "2006-01-02" }}"{{- end }}>
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "sitemap.html" . -}}
        {{- partial "footer.html" . -}}
        {{- partial "scripts.html" . -}}
    </body>
</html>
