<header>
    <a class="header-logo" href="{{ .Site.Home.RelPermalink}}">
        <img src="/images/ivoa_logo.png">
        <span>International Virtual<br/>Observatory Alliance</span>
    </a>
    <nav>
        <a href="{{ .Site.Home.Permalink}}/search/">Search</a>
        <a href="{{ .Site.Home.Permalink}}">Home</a>
        <a href="{{ .Site.Home.Permalink}}/astronomers/">Astronomers</a>
        <a href="{{ .Site.Home.Permalink}}/deployers/">Deployers</a>
        <a href="{{ .Site.Home.Permalink}}/members/">Members</a>
        <a href="{{ .Site.Home.Permalink}}/about/">About</a>
    </nav>
</header>
