<div class="text-medium-gray italic text-right mb-5 mt-5">
    {{- with .Date }}
    <strong>Created:</strong> <span title="{{ .UTC.Format "January 02, 2006 - 15:04 MST" }}">{{ .Local.Format "January 02, 2006 - 15:04 MST" }}</span>
    <br/>
    {{- end }}
    {{- if and .Date (gt (sub .Lastmod.Unix .Date.Unix) 300) }}
    <strong>Updated:</strong> <span title="{{ .Lastmod.UTC.Format "January 02, 2006 - 15:04 MST" }}">{{ .Lastmod.Local.Format "January 02, 2006 - 15:04 MST" }}</span>
    {{- end }}
</div>
