<div class="sitemap">
    <div class="cards">

        <div class="card">
            <div class="card-title">About the IVOA</div>

            <div class="card-list">
                <ul>
                    <li>
                        <a href="{{ .Site.Home.Permalink}}/about/what_is_vo/">
                        What is the VO?
                        </a>
                    </li>
                    <li><a href="{{ .Site.Home.Permalink}}/about/what_is_ivoa/">What is the IVOA?</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/about/member-organizations/">Who is involved?</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/about/roadmap/">Accomplishments and future plans</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/about/contacts/">How do I contact the IVOA?</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/about/participation/">How can I participate?</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/members/IVOA_Code_of_Conduct.pdf">Code of Conduct</a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-title">For Astronomers</div>

            <div class="card-list">
                <ul>
                    <li><a href="{{ .Site.Home.Permalink}}/astronomers/getting_started/">Getting Started</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/astronomers/using_the_vo/">Using the VO</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/astronomers/vo_glossary/">VO Glossary</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/astronomers/applications/">VO Applications</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/newsletter/">IVOA newsletter</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/astronomers/vo_for_public/">VO for Students & Public</a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-title">For Developers</div>

            <div class="card-list">
                <ul>
                    <li><a href="{{ .Site.Home.Permalink}}/deployers/intro_to_vo_concepts">Intro to VO Concepts</a></li>
                    <li><a href="https://www.ivoa.net/documents/">IVOA Standards</a></li>
                    <li><a href="http://wiki.ivoa.net/twiki/bin/view/IVOA/PublishingInTheVONew">Guide to Publishing in the VO</a></li>
                    <li><a href="http://wiki.ivoa.net/twiki/bin/view/IVOA/VOGlossary">Technical Glossary</a></li>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-title">For Members</div>

            <div class="card-list">
                <ul>
                    <li><a href="http://wiki.ivoa.net/twiki/bin/view/IVOA/IvoaEvents">IVOA Calendar</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/members/">Working Groups</a></li>
                    <li><a href="http://wiki.ivoa.net/twiki/bin/view/IVOA/WebHome">Twiki</a></li>
                    <li><a href="https://www.ivoa.net/documents/">Documents in Progress</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/members/">Mailing Lists</a></li>
                    <li><a href="{{ .Site.Home.Permalink}}/about/roadmap/">IVOA Roadmap</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>