{{ define "main" }}

<section class="flex flex-col md:flex-row gap-4" data-pagefind-ignore>
	{{/* Make the overall layout responsive */}}
	<div class="carrousel md:w-2/3">{{ partial "slider.html" . }}</div>

	<aside class="right cards w-full md:w-1/3">
		{{/* Sidebar takes full width on small, 1/3 on larger */}}
		<div class="bg-white mt-4 p-1 max-w-content mx-auto">
			<div class="relative inline-block">
				<a href='{{ "/news/" | absURL }}'
					class="text-black text-lg font-bold px-6 py-2 tracking-wide before:content-[''] before:absolute before:-left-4 before:top-1/2 before:-translate-y-1/2 before:w-4 before:h-4 before:rounded-l-lg"
				>
					News
				</a>
			</div>

			<div class="mt-4">
				<ul class="list-none pl-1 space-y-2">
					{{ range first 3 (where .Site.Pages "Params.tags" "intersect" (slice
					"post")) }}
					<li>
						<a
							href="{{ .RelPermalink }}"
							class="font-semibold transition"
						>
							{{ .Title }}
						</a>
						<div class="flex items-center gap-2 my-5">
							<hr class="flex-grow border-t border-accent-hover">
							<span class="text-[6px] text-accent-hover leading-none">★</span>
							<hr class="flex-grow border-t border-accent-hover">
						</div>
					</li>

					{{ end }}
				</ul>
			</div>
		</div>
	</aside>
</section>

<!-- rendered content from content/_index.html -->
<div class="mt-4">
	{{/* Add some margin-top for spacing */}} {{- .Content -}}
</div>

{{ end }}
