{{ define "main" }}

<section class="flex flex-col md:flex-row gap-4" data-pagefind-ignore>  {{/*  Make the overall layout responsive */}}
    <main class="carrousel w-full md:w-2/3">
        {{ partial "slider.html" . }}
    </main>

    <aside class="right cards w-full md:w-1/3"> {{/*  Sidebar takes full width on small, 1/3 on larger */}}
        <div class="card">
            <div class="card-title">
                IVOA News & Upcoming Meetings
            </div>
            <div class="card-list">
                <ul>
                    {{ range first 3 (where .Site.Pages "Params.tags" "intersect" (slice "news")) }}
                    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>

        </div>
    </aside>
</section>

<!-- rendered content from content/_index.html -->
<div class="mt-4">  {{/*  Add some margin-top for spacing */}}
    {{- .Content -}}
</div>

{{ end }}