{{- if (.Get "floating" )}}
<section class="with-image is-floating">
    <figure class="floating {{ .Get "position" }}">
    {{- if (.Get "thumbnail") }}
        <a href="{{ .Get "image" }}"><img src="{{- .Get "thumbnail" }}" /></a>
    {{- else }}
        <img src="{{- .Get "image" }}" />
    {{- end }}
    {{- with (.Get "caption") }}
        <figcaption>{{ . | markdownify }}</figcaption>
    {{- end }}
    </figure>
    {{- .Inner | markdownify }}
</section>
{{- else }}
<section class="with-image {{ .Get "position" }}">
    <figure>
    {{- if (.Get "thumbnail") }}
        <a href="{{ .Get "image" }}"><img src="{{- .Get "thumbnail" }}" /></a>
    {{- else }}
        <img src="{{- .Get "image" }}" />
    {{- end }}
    {{- with (.Get "caption") }}
        <figcaption>{{ . | markdownify }}</figcaption>
    {{- end }}
    </figure>
    <main>
        {{- .Inner | markdownify }}
    </main>
</section>
{{- end }}