.xstooltip {
    visibility: hidden; 
    position: absolute; 
    top: 0;  
    left: 0; 
    z-index: 2; 

    font: normal 8pt sans-serif; 
    padding: 3px; 
    border: solid 1px;
    background-color: white;  
}
.xstooltip td {
    font: normal 8pt sans-serif; 
}

