name: "Deploy the production version of the website"

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: "Deploy production site"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          npm install
          npm install -D postcss postcss-cli autoprefixer tailwindcss

      - name: Setup Hugo
        uses: ./.github/actions/setup-hugo

      - name: Setup PageFind
        uses: ./.github/actions/setup-pagefind

      - name: Build the website
        run: make html

      - name: Upload the site to the production server with SFTP
        uses: Dylan700/sftp-upload-action@latest
        with:
          username: ${{ secrets.SFTP_PROD_USER }}
          server: ${{ secrets.SFTP_PROD_SERVER }}
          port: ${{ secrets.SFTP_PROD_PORT }}
          key: ${{ secrets.SFTP_PROD_KEY }}
          uploads: |
            ./public/ => ${{ secrets.SFTP_PROD_PATH }}
